.popularlistconatiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-left: 60px;
  padding-right: 60px;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .popularlistconatiner {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.popularimage {
  height: 100px;
  width: 150px;
  margin: 5px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .popularimage {
    height: 150px;
    width: 220px;
  }
}
